{% partialdef subject %}Ta demande d'aide pour « {{ funding.name }} » est bien reçue{% endpartialdef %}
{% partialdef body %}{% autoescape off %}
Bonjour {{ funding.asker.first_name }},

Ta demande d'aide de **{{ funding.funding_value }} €** pour le projet **« {{ funding.name }} »** a bien été déposée. Elle sera étudiée lors d'une prochaine réunion du conseil d'administration ; tu recevras un e-mail dès qu'une décision sera prise.

[[Suivre ma demande|{{ site_url }}{{ funding.get_absolute_url }}]]

Bonne préparation de tournage !
L'équipe {{ site.site_name }}
{% endautoescape %}{% endpartialdef %}
