Django
django-cors-headers
gunicorn
uvicorn[standard]
psycopg2-binary
redis
django-redis
channels
channels-redis
numpy
pandas
requests
beautifulsoup4
celery
flower
django-debug-toolbar
pillow
python-decouple
python-dotenv
pytz
whitenoise
httpx
asgiref
daphne
django_registration
olefile
ipython
django-recaptcha
django-widget-tweaks