:root {
    --magellans_dark: #7f3f18;
    --magellans_light: #eba40e;
}

.is-primary {
    background-color: var(--magellans_light)!important;
}

.is-dark {
    background-color: var(--magellans_dark)!important;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    color: white!important;
    background-color: transparent;
}

.navbar {
    background-color: #ffce6547;
    padding: 30px;
}

.navbar-item {
    margin: 5px;
}

a.navbar-item {
    color: white;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

a.navbar-item:hover {
    background-color: #eba40e;
}

body {
    background-repeat: no-repeat;
}