{% extends "base.html" %}

{% block title %}
Trésorerie
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid p-3">
    <h1 class="display-5 text-center"> Trésorerie </h1>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="title">Liste des opérations</h2>
            <table class="table table-striped align-middle display responsive nowrap" id="operations-table">
                <thead>
                    <tr>
                        <th>ID Opération</th>
                        <th>Description</th>
                        <th>Type d'opération</th>
                        <th>Emetteur de l'opération</th>
                        <th>Receveur de l'opération</th>
                        <th>Montant</th>
                        <th>Date d'ajout</th>
                        <th>Date</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operation in operations %}
                    <tr>
                        <td>{{ operation.id }}</td>
                        <td>{{ operation.desc }}</td>
                        <td>{{ operation.get_direction_display }}</td>
                        <td>{{ operation.src }}</td>
                        <td>{{ operation.dest }}</td>
                        <td>{{ operation.amout }}</td>
                        <td>{{ operation.date_added }}</td>
                        <td>{{ operation.date }}</td>
                        <td>{{ operation.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="title">Liste des notes de frais</h2>
            <table class="table table-striped align-middle display responsive nowrap" id="invoices-table">
                <thead>
                    <tr>
                        <th scope="col" style="max-width: 80px;;"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Rôle sur le projet</th>
                        <th scope="col">Projet</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Reçue le</th>
                        <th scope="col">Montant total</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for invoice in invoices %}
                    <tr id="invoice{{invoice.pk}}">
                        <td>
                            <a class="btn btn-warning" href="{% url 'invoice-detail' pk=invoice.pk %}"><i class="fa-eye fa-solid text-light"></i></a>
                        </td>
                        <td>{{ invoice.title }}</td>
                        <td>{{ invoice.author }}</td>
                        <td>{{ invoice.role }}</td>
                        <td>{{ invoice.project }}</td>
                        <td class="{% if invoice.status == 'R' or invoice.status == 'C' %}bg-success{% elif invoice.status == 'F' or invoice.status == 'D' %}bg-warning {% elif invoice.status == 'V' %}bg-info{% else %} bg-danger {% endif %}">
                            {{ invoice.get_status_display }}
                        </td>
                        <td>{{ invoice.date_created }}</td>
                        <td>{{ invoice.total }}€</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        var operations_table = new DataTable('#operations-table');
        
        var invoices_table = new DataTable('#invoices-table', {
            order: [[6, "desc"]],
            columnDefs: [
            {responsivePriority: 1, targets: 0},
            {responsivePriority: 2, targets: 1},
            {responsivePriority: 1, targets: 6, type: "datetime"},
            {responsivePriority: 1, targets: 7},
            ]
        });
    });
</script>
{% endblock %}