{% extends "base.html" %}
{% load static %}

{% block title %}
{% include "title.html" with title=title|default:"Note de frais {{ object.title }}" %}
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block head_description %}
Récapitulatif d'une note de frais contractée auprès de l'association Magellans.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

{% if request.user.is_staff %}
<script>
    var callback_editInvoiceStatus = function(response) {};
    var sendInvoiceStatusEmail = function(){};
</script>
{% endif %}

{% if request.user.is_staff or request.user == object.author %}
<div class="container">
    <h1 class="display-5 text-center"> Note de frais {{ object.title }} </h1>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="title">Informations de la note de frais</h2>
            <table class="table table-striped responsive" id="invoice-table">
                <thead class="h-0">
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <th>Auteur</th>
                        <td><a href="{% url 'member-detail' pk=object.author.pk %}" class="text-black">{{ object.author }}</a></td>
                    </tr>
                    <tr>
                        <th>Rôle sur le projet</th>
                        <td>{{ object.role }}</td>
                    </tr>
                    <tr>
                        <th>Projet</th>
                        <td>{{ object.project }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        {% if request.user.is_staff %}
                        <td>
                            <div class="input-group input-group-md">
                                <div class="form-control"> 
                                    <select style="width: 100%;" id="select_status" pk="{{ object.pk }}">
                                        <optgroup label="Réponse définitive">
                                            <option value="R" {% if object.status == 'R' %} selected {% endif %}>Remboursement effectué et confirmé</option>
                                            <option value="X" {% if object.status == 'X' %} selected {% endif %}>Remboursement refusé</option>
                                        </optgroup>
                                        <optgroup label="Action nécessaire côté Magellans">
                                            <option value="F" {% if object.status == 'F' %} selected {% endif %}>A faire</option>
                                            <option value="V" {% if object.status == 'V' %} selected {% endif %}>En attente de validation par le CA</option>
                                        </optgroup>
                                        <optgroup label="Action nécessaire côté utilisateur">
                                            <option value="D" {% if object.status == 'D' %} selected {% endif %}>Demande d'informations bancaires</option>
                                            <option value="C" {% if object.status == 'C' %} selected {% endif %}>Virement en cours</option>
                                            <option value="J" {% if object.status == 'J' %} selected {% endif %}>Justificatif(s) manquant(s)</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </td>
                        {% else %}
                        <td class="{% if invoice.status == 'R' or invoice.status == 'C' %}bg-success{% elif invoice.status == 'F' or invoice.status == 'D' %}bg-warning {% elif invoice.status == 'V' %}bg-info{% else %} bg-danger {% endif %}"> {{ object.get_status_display }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Note de frais déclarée le</th>
                        <td>{{ object.date_created }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{object.comm}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{ object.total }}€</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2 class="title mt-3">Liste des dépenses</h2>
            <table class="table table-striped responsive" id="expenses-table">
                <thead>
                    <tr>
                        <th>Dépense</th>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Commentaire</th>
                        <th>Justificatif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.title }}</td>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.amount|floatformat:"2u" }}€</td>
                        <td class="text-nowrap">{{ expense.comm }}</td>
                        <td>
                            {% if expense.proof %}
                            <a href="{% static '/media/' %}{{expense.proof}}"  class="text-success" target="_blank">Voir le justificatif</a>
                            {% else %}
                            <strong class="text-danger">Justificatif manquant</strong>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid mt-3">
    <div class="card m-auto text-center col-xl-6 border-danger border-4 rounded-4">
        <div class="card-header bg-danger text-light fs-5">Interdit (403)</div>
        <div class="card-body">
            <h5 class="card-title">
                Vous n'êtes pas censé.e être ici.
            </h5>
            <p class="card-text">Veuillez cliquer sur le bouton ci-dessous pour retourner à l'accueil membres.</p>
            <a class="btn btn-primary" href="{% url 'my-profile' %}">Retour</a>
        </div>
        <div class="card-footer bg-danger fs-5 text-light">
            Espace réservé aux administrateurs et à la personne émettrice de cette note de frais.
        </div>
    </div>
</div>
{% endif %}

{% if request.user.is_staff %}
<!-- SEND EMAIL NOTIFICATION MODAL -->
<div class="modal fade" id="sendEmailNotificationModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="sendEmailNotificationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="sendEmailNotificationLabel">Notifier par email</h1>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <p>Voulez-vous envoyer un email automatique au demandeur pour le notifier du changement de statut de sa note de frais ?</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success w-100 my-1" data-bs-dismiss="modal" onclick="sendInvoiceStatusEmail('{{ object.pk }}')">Oui</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger w-100 my-1" data-bs-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/dashboard/bank.js' %}"></script>
{% endif %}
<script>
    $(document).ready(function() {
        var invoice_table  = new DataTable('#invoice-table', {
            paging: false,
            ordering: false,
            info: false,
            searching: false
        });
        
        var expenses_table = new DataTable('#expenses-table',{
            order: [[2, "desc"]],
            columnDefs: [
            {responsivePriority: 1, targets: 0},
            {responsivePriority: 1, targets: 1, type: "date"},
            ],
            searching: false,
            paging: false,
            info: false
        });
        
        //{% if request.user.is_staff%}
        
        function callback_editInvoiceStatus(response) {
            $('#sendEmailNotificationModal').modal('show');
        }
        
        var select_status = $('#select_status').select2();
        select_status.on("change", function() {
            var value = $(this).val();
            var pk = $(this).attr("pk");
            
            editInvoiceStatus(pk, value, callback_editInvoiceStatus);
        })
        //{% endif %}
    });
</script>
{% endblock %}