Une nouvelle demande de réservation de matériel a été reçue.

Demandeur.euse : {{ user.first_name }} {{ user.last_name }}
Email : {{ user.email }}
Téléphone : {{ user.phone }}
Projet : {{ project_name }}

Vous pouvez afficher toutes les informations de la commande et de son suivi ici :
https://magellans.fr{% url 'order-detail' pk=order.pk %}

Dates de réservation : {{ formatted_startDate|date:"l d F Y H:i"|capfirst }} à {{ formatted_endDate|date:"l d F Y H:i"|capfirst }}

Message lié à la demande :
{{ message|safe }}

Personne chargée de la récupération : 
{{ order.pickup_first_name }} {{ order.pickup_last_name }} {{ order.pickup_phone_formatted }} 

Bonne réception,
L'équipe Magellans.