{% extends "base.html" %}
{% load static %}

{% block title %}
{% include "title.html" with title=title|default:"Récapitulatif commande #{{ object.pk }}" %}
{% endblock %}

{% block head_description %}
Récapitulatif des détails d'une commande ou réservation du magasin de l'association Magellans.
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

{% if request.user.is_staff %}
<script>
    var callback_editOrderStatus = function(response) {};
    var sendOrderStatusEmail = function(){};
</script>
{% endif %}

{% if request.user.is_staff or request.user == object.user %}
<div class="container">
    <h1 class="display-5 text-center"> Commande #{{ object.pk }} </h1>
    <div class="row my-3">
        <div class="col-lg-12">
            <h2 class="title">Informations de la commande</h2>
            <table class="table table-striped responsive" id="order-info-table">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <th>Demandeur</th>
                        <td>
                            {% if request.user.is_staff %}
                            <a href="{% url 'member-detail' pk=object.user.pk %}" class="text-black" id="demandeur">{{ object.user }}</a>
                            {% else %}
                            {{ object.user }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Projet</th>
                        <td id="projet">{% if object.project_name %}{{ object.project_name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date début</th>
                        <td id="startDate"">{% if object.date_start %}{{ object.date_start }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date fin</th>
                        <td id="endDate">{% if object.date_end %}{{ object.date_end }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        {% if request.user.is_staff %}
                        <td>
                            <div class="input-group input-group-md">
                                <div class="form-control"> 
                                    <select style="width: 100%;" id="select_status" pk="{{ object.pk }}">
                                        <optgroup label="Réponse définitive">
                                            <option value="2" {% if order.status == 2 %} selected {% endif %}>Commande refusée</option>
                                            <option value="3" {% if order.status == 3 %} selected {% endif %}>Commande acceptée</option>
                                            <option value="4" {% if order.status == 4 %} selected {% endif %}>Commande acceptée avec modifications</option>
                                        </optgroup>
                                        <optgroup label="En attente">
                                            <option value="0" {% if order.status == 0 %} selected {% endif %}>Commande non-effectuée (incomplète)</option>
                                            <option value="1" {% if order.status == 1 %} selected {% endif %}>Commande effectuée & en attente de réponse</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </td>
                        {% else %}
                        <td class="{% if object.status == 3 or object.status == 4 %}bg-success{% elif object.status == 1 %} bg-warning {% else %} bg-danger {% endif %}">{{ object.get_status_display }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Demande effectuée le</th>
                        <td >{% if object.date_created %}{{ object.date_created }}{% endif %}</td>
                    </tr>
                    {% if object.status == 2 or object.status == 3 %}
                    <tr>
                        <th>Demande validée le</th>
                        <td>{{ object.date_validated }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Récupération</th>
                        <td id="recuperation">{{ object.pickup_first_name }} {{ object.pickup_last_name }} ({{ object.pickup_phone_formatted }})</td>
                    </tr>
                    <tr>
                        <th>Message du demandeur</th>
                        <td>{% if object.message %}{{object.message}}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Réponses reçues</th>
                        <td>{% if object.answer_message %}{{ object.answer_message|safe }}{% else %} Aucune réponse reçue pour le moment. {% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2 class="title mt-3">Liste récapitulative</h2>
            <table class="table table-striped" id="order-table">
                <thead>
                    <tr>
                        <th>Dispo</th>
                        <th>Objet</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quantity, item in item_set %}
                    <tr>
                        <td> 
                            <div class="form-check form-switch order-switch">
                                <input class="form-check-input input-switch-order" type="checkbox" id="order-switch{{ item.pk }}" {% if quantity.available %}checked{% endif %} {% if not request.user.is_superuser or request.user.site_person.role != 'G' or request.user.site_person.role != 'P' %}{% if order.status != 1 %} disabled {%endif%}{%endif%}>
                            </div>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ quantity.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if request.user.is_superuser or request.user.site_person.role == 'G' or request.user.site_person.role == 'P' %}
        <div class="mt-5"></div>
        <hr>
        <div class="col-lg-12 my-2">
            <h2>Espace gestion de la commande</h2>
        </div>
        {% if order.status == 1 %}
        <div class="col-lg-8">
            <textarea class="form-control h-100" placeholder="Notes..." id="notes">{%if order.notes %}{{ order.notes }}{% endif %}</textarea>
        </div>
        <div class="col-lg-4 text-center">
            <button class="btn btn-success w-100 mb-1" id="allAvailable">
                <i class="bi bi-check">
                    Marquer tous les objets comme disponibles
                </i>
            </button>
            <button class="btn btn-danger w-100 mb-1" id="allUnavailable">
                <i class="bi bi-x">
                    Marquer tous les objets comme indisponibles
                </i>
            </button>
            <button class="btn btn-warning w-100" onclick="exportToPdf({{ object.pk }})">
                <i class="bi bi-download">
                    Télécharger en PDF
                </i>
            </button>
        </div>
        {% else %}
        <div class="col-lg-8">
            <textarea class="form-control h-100" placeholder="Notes..." id="notes">{%if order.notes %}{{ order.notes }}{% endif %}</textarea>
        </div>
        <div class="col-lg-4 text-center">
            <button class="btn btn-warning w-100" onclick="exportToPdf({{ object.pk }})">
                <i class="bi bi-download">
                    Télécharger en PDF
                </i>
            </button>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="container-fluid mt-3">
    <div class="card m-auto text-center col-xl-6 border-danger border-4 rounded-4">
        <div class="card-header bg-danger text-light fs-5">Interdit (403)</div>
        <div class="card-body">
            <h5 class="card-title">
                Vous n'êtes pas censé.e être ici.
            </h5>
            <p class="card-text">Veuillez cliquer sur le bouton ci-dessous pour retourner à l'accueil membres.</p>
            <a class="btn btn-primary" href="{% url 'my-profile' %}">Retour</a>
        </div>
        <div class="card-footer bg-danger fs-5 text-light">
            Espace réservé aux administrateurs et à la personne émettrice de cette commande.
        </div>
    </div>
</div>
{% endif %}

{% if request.user.is_staff %}
<!-- SEND EMAIL NOTIFICATION MODAL -->
<div class="modal fade" id="sendEmailNotificationModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="sendEmailNotificationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="sendEmailNotificationLabel">Notifier par email</h1>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <p>Voulez-vous envoyer un email automatique au demandeur pour le notifier du changement de statut de sa commande ?</p>
                    </div>
                    <div class="col-md-11 mx-auto my-2">
                        <textarea class="form-control" placeholder="Entrez le message qui apparaîtra dans le l'email..." rows="10" id="custom_message"></textarea>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success w-100 my-1" data-bs-dismiss="modal" onclick="sendOrderStatusEmail('{{ object.pk }}')">Oui</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger w-100 my-1" data-bs-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js" integrity="sha512-axXaF5grZBaYl7qiM6OMHgsgVXdSLxqq0w7F4CQxuFyrcPmn0JfnqsOtYHUun80g6mRRdvJDrTCyL8LQqBOt/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/dashboard/warehouse.js' %}"></script>
{% endif %}
<script>
    $(document).ready(function() {
        let info_table = new DataTable('#order-info-table', {
            searching: false,
            paging: false,
            ordering: false,
            info: false
        });
        
        let order_table = new DataTable('#order-table', {
            paging: false,
            info: false,
            
            //{% if request.user.is_superuser or request.user.site_person.role == 'G' or request.user.site_person.role == 'P' %}
            //{% if order.status == 1 %}
            columnDefs: [
            { width: '100px', target: 0, orderable: false}
            ]
            //{% endif %}
            //{% endif %}
        });
        
        //{% if request.user.is_staff %}
        
        function callback_editOrderStatus(response) {
            $('#sendEmailNotificationModal').modal('show');
        }
        
        var select_status = $('#select_status').select2();
        select_status.on("change", function() {
            var value = $(this).val();
            var pk = $(this).attr("pk");
            
            editOrderStatus(pk, value, callback_editOrderStatus);
        });

        let switches = document.querySelectorAll(".order-switch");
        switches.forEach( (element) => {
            $(element).on("click", (event) => {
                let pk_item = $(element.children[0]).attr('id').replace(/order-switch/g, "");
                let pk_order = "{{ object.pk }}";
                let available = element.children[0].checked;
        
                setItemAvailability(pk_order, pk_item, available);
            });
        });

        
        $("#allAvailable").on('click', (event) => {
            let index = 0;
        
            function processNextSwitch() {
                if (index >= switches.length) return;
        
                let element = switches[index];
                element.children[0].checked = true;
                let pk_item = $(element.children[0]).attr('id').replace(/order-switch/g, "");
                let pk_order = "{{ object.pk }}";
        
                setItemAvailability(pk_order, pk_item, true);
        
                index++;
                setTimeout(processNextSwitch, 100); // Attendre 100 millisecondes avant de passer à l'itération suivante
            }
        
            processNextSwitch();
        });
        
        $("#allUnavailable").on('click', (event) => {
            let index = 0;
        
            function processNextSwitch() {
                if (index >= switches.length) return;
        
                let element = switches[index];
                element.children[0].checked = false;
                let pk_item = $(element.children[0]).attr('id').replace(/order-switch/g, "");
                let pk_order = "{{ object.pk }}";
        
                setItemAvailability(pk_order, pk_item, false);
        
                index++;
                setTimeout(processNextSwitch, 100); // Attendre 100 millisecondes avant de passer à l'itération suivante
            }
        
            processNextSwitch();
        });

        $('#notes').on('input', () => {
            writeNotes('{{ object.pk }}', $('#notes').val());
        })



        //{% endif %}
    });
</script>
{% endblock %}