{% extends "base.html" %}
{% load static %}

{% block title %}
{% include "title.html" with title=title|default:"Magasin" %}
{% endblock %}

{% block extra_head %}
<link href="{% static 'css/warehouse.css' %}" rel="stylesheet" />
{% endblock %}

{% block head_description %}
Catalogue du magasin de l'association Magellans. Gestion des réservations et commandes de matériel du magasin de Magellans. 
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

{% if not request.user.is_authenticated or not completeProfile %}
<div class="container-fluid mt-3">
    <div class="alert alert-warning m-auto text-center col-lg-10 mb-3">
        <h4 class="alert-heading">Utilisation du magasin</h4>
        <hr>
        <p>
            Attention, pour pouvoir faire une réservation au magasin de Magellans vous devez être connecté et compléter les informations de votre profil.
            Si vous voyez ce message, vous n'êtes pas connecté ou n'avez pas renseigné tous les champs de votre profil.
        </p>
        {% if not completeProfile %}
        <a class="btn btn-primary" href="{% url 'my-profile' %}">Compléter mon profil</a>
        {% elif not request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'login' %}">Me connecter</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 m-auto">
            <div class="input-group mb-3 m-auto">
                <input id="searchBar" type="text" class="form-control" placeholder="Rechercher un objet, une catégorie..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary ms-1" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12" id="selectedTagsGroup">
                {% for tag in tags %}
                <input type="checkbox" value="{{ tag.name }}" class="selectedTag-checkbox btn-check" id="selectedTag{{tag.pk}}">
                <label class="btn btn-outline-primary selectedTag-btn mb-2" for="selectedTag{{tag.pk}}" style="--bs-btn-color: {{ tag.color }}; --bs-btn-active-bg: {{ tag.color }}; --bs-btn-border-color: {{ tag.color }}; --bs-btn-active-border-color: {{ tag.color }};">{{ tag.name }} {% if request.user.is_staff %} <a href="{% url 'edit-tag-detail' pk=tag.pk %}" style="vertical-align: middle;"><i class="fa-solid fa-edit bg-primary text-white rounded-2 p-1"></i></a> {% endif %}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" id="item-list">
        {% for item in items %}
        <div class="col-xl-2 col-lg-4 col-md-6 my-1" id="item{{item.pk}}">
            <div class="card tag-card">
                
                {% if request.user.is_staff %}
                <div class="card-header">
                    <button class="btn btn-danger float-end mx-1" onclick="confirmDeleteItem('{{ item.pk }}')"><i class="fa-solid fa-trash"></i></button>
                    <a class="btn btn-warning float-end" href="{% url 'edit-item-detail' pk=item.pk %}"><i class="fa-solid fa-edit"></i></a>
                </div>
                {% endif %}
                <img src="{{ MEDIA_URL }}{{item.image.url}}" alt="Photo de {{ item.name }}" class="card-img-top m-2">
                <div class="card-body">
                    <h5 class="card-title fs-5 text-center">
                        {{ item.name }}
                        <br>
                        {% if item.state >= 3 %}
                        <span class="badge rounded-pill text-bg-success mt-1">{{ item.get_state_display }}</span>
                        {% elif item.state < 3 and item.state >= 1%}
                        <span class="badge rounded-pill text-bg-warning mt-1">{{ item.get_state_display }}</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-danger mt-1">{{ item.get_state_display }}</span>
                        {% endif %}
                    </h5>
                    <br>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for tag in item.tags.all %}
                        <span class="badge badge-tag text-light fs-6 my-1" style="background-color: {{ tag.color }};"> {{ tag.name }}</span>
                        {% endfor %}
                    </li>              
                    <li class="list-group-item">
                        <div class="input-group input-group-md">
                            <input aria-describedby="place-order" type="number" class="form-control place-order-input" id="itemOrder{{item.pk}}" value=0 min="0" max="{{ item.max_stock }}" {% if item.now_available == 0 or item.availability != 1 %} disabled {% endif %}>
                            <span class="input-group-text col-sm-8 bg-light" id="place-order"> réservé(s)</span>
                        </div>
                    </li>
                    {% if item.availability == 1 %}
                    <div class="card-footer text-light d-inline-flex align-items-center">
                        <input type="number" class="form-control availability-selector w-25 me-4 {% if not request.user.is_staff %} d-none {% endif %}" id="stockSelectorItem{{ item.pk }}" value="{{ item.now_available }}" min="0" max="{{ item.max_stock }}"> {% if not request.user.is_staff %} {{ item.now_available }} {% endif %} / {{ item.max_stock}} disponible(s)
                    </div>
                    {% else %}
                    <div class="card-footer text-light d-inline-flex align-items-center bg-danger">
                        Temporairement indisponible
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="m-auto my-2" id="sticky-buttons">
        <a class="btn btn-info position-relative {% if not request.user.is_authenticated or not completeProfile %} disabled {% endif %} mt-2" id="orderButton" href="/magasin/commande">
            <i class="fa-solid fa-basket-shopping"></i>
            Voir ma réservation
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="nbOrderedItems">0</span>
        </a>
        
        {% if request.user.is_staff %}
        <button class="btn btn-success mt-2" type="button" data-bs-toggle="modal" data-bs-target="#addItemForm">
            <i class="fa-solid fa-plus"></i>
            Ajouter un objet au magasin
        </button>
        {% endif %}
    </div>
</div>

<!-- ADD ITEM MODAL -->
<div class="modal fade" id="addItemForm" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="addItemModalLabel">Ajouter un objet au magasin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Annuler"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="item_name" placeholder="Nom de l'objet">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_tags">Tags</span>
                    <div aria-describedby="span_tags" class="form-control" id="tag-list">
                        {% for tag in tags %}
                        <div class="form-check form-check-inline" id="tag-group{{ tag.pk }}">
                            <input type="checkbox" value="{{ tag.pk }}" class="tag-checkbox form-check-input" id="tag{{tag.pk}}" style="margin-top: 1vh;">
                            <label class="btn form-check-label" for="tag{{tag.pk}}" style="background-color: {{ tag.color }}; color: white;">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addTagForm">Créer un tag</button>
                <button type="button" class="btn btn-danger mt-3" onclick="confirmDeleteTags()">Supprimer les tags sélectionnés</button>
                <div class="input-group input-group-md mt-3">
                    <input aria-describedby="span_image" type="file" class="form-control" id="image">
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="number" class="form-control" id="max_stock" placeholder="Nombre d'objets disponibles au maximum">
                </div>
                <div class="input-group input-group-md mt-3">
                    <select class="form-control" id="state">
                        <option>Etat de l'objet...</option>
                        <option value="5">Neuf</option>
                        <option value="4">Très bon état</option>
                        <option value="3">Bon état</option>
                        <option value="2">Etat moyen</option>
                        <option value="1">Mauvais état</option>
                        <option value="0">En maintenance</option>
                        <option value="-1">Ne fonctionne pas</option>
                    </select>
                </div>
                <div class="input-group input-group-md mt-3">
                    <select class="form-control" id="availability">
                        <option>Disponibilité de l'objet...</option>
                        <option value="1">Disponible</option>
                        <option value="0">Indisponible</option>
                        <option value="2">En cours de location</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" onclick="addItem()" data-bs-dismiss="modal">Ajouter au magasin</button>
            </div>
        </div>
    </div>
</div>

<!-- ADD TAG MODAL -->
<div class="modal fade" id="addTagForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="addTagModalLabel">Ajouter un tag</h1>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="tag_name" placeholder="Nom du tag">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_tag_color">Couleur du tag</span>
                    <input aria-describedby="span_tag_color" type="color" class="form-control form-control-color" id="tag_color" placeholder="Couleur du tag">
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-target="#addItemForm" data-bs-toggle="modal" class="btn btn-danger">Annuler</button>
                    <button type="button" data-bs-target="#addItemForm" data-bs-toggle="modal" class="btn btn-success" onclick="addTag()" data-bs-dismiss="modal">Ajouter le tag</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DELETE ITEM -->
<div class="modal fade" id="confirmDeleteItemModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="confirmDeleteItemModalLabel">Confirmer suppression</h5>
            </div>
            <div class="modal-body">
                Êtes-vous sûr.e de vouloir supprimer cet objet ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteItemBtn" value="0" data-bs-dismiss="modal">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DELETE TAGS -->
<div class="modal fade" id="confirmDeleteTagsModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTagsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="confirmDeleteTagsModalLabel">Confirmer suppression</h5>
            </div>
            <div class="modal-body">
                Êtes-vous sûr.e de vouloir supprimer ces tags ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteTagsBtn" data-bs-dismiss="modal" onclick="deleteTags()">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div id="csrf" class="d-none">
    {% csrf_token %}
</div>

{% if request.user.is_authenticated %}
<script>
    var saved_order = "{{ saved_order_pk }}";
</script>
{% endif %}

<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/warehouse/warehouse.js' %}"></script>

{% endblock %}