{% extends "base.html" %}
{% load static %}

{% block title %}
Magasin
{% endblock %}

{% block extra_head %}
<link href="{% static 'css/warehouse.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4 m-auto">
            <div class="input-group mb-3 m-auto">
                <input id="searchBar" type="text" class="form-control" placeholder="Rechercher un objet, une catégorie..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary ms-1" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12" id="selectedTagsGroup">
                {% for tag in tags %}
                <input type="checkbox" value="{{ tag.name }}" class="selectedTag-checkbox btn-check" id="selectedTag{{tag.pk}}" checked>
                <label class="btn btn-outline-primary selectedTag-btn mb-2" for="selectedTag{{tag.pk}}" style="--bs-btn-color: {{ tag.color }}; --bs-btn-active-bg: {{ tag.color }}; --bs-btn-border-color: {{ tag.color }}; --bs-btn-active-border-color: {{ tag.color }};">{{ tag.name }}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" id="item-list">
        {% for item in items %}
        <div class="col-xl-2 col-lg-4 col-md-6 my-1" id="item{{item.pk}}">
            <div class="card tag-card">
                
                {% if request.user.is_staff %}
                <div class="card-header">
                    <button class="btn btn-danger float-end mx-1" onclick="confirmDeleteItem({{ item.pk }})"><i class="fa-solid fa-trash"></i></button>
                    <!-- <button class="btn btn-info float-end"><i class="fa-solid fa-edit"></i></button> -->
                </div>
                {% endif %}
                <img src="/static/media/{{item.image}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title fs-5 text-center">
                        {{ item.name }}
                        <br>
                        {% if item.state >= 3 %}
                        <span class="badge rounded-pill text-bg-success mt-1">{{ item.get_state_display }}</span>
                        {% elif item.state < 3 and item.state >= 1%}
                        <span class="badge rounded-pill text-bg-warning mt-1">{{ item.get_state_display }}</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-danger mt-1">{{ item.get_state_display }}</span>
                        {% endif %}
                    </h5>
                    <br>
                    {% for tag in item.tags.all %}
                    <span class="badge text-light fs-6" style="background-color: {{ tag.color }};"> {{ tag.name }} </span>
                    {% endfor %}
                    <!-- <a href="{% url 'item-detail' pk=item.pk %}" class="stretched-link" target="_blank"></a> -->
                </div>
                <div class="card-footer text-light d-inline-flex align-items-center">
                    <input type="number" class="form-control availability-selector w-25 me-4 {% if not request.user.is_staff %} d-none {% endif %}" id="stockSelectorItem{{ item.pk }}" value="{{ item.now_available }}" min="0" max="{{ item.max_stock }}"> {% if not request.user.is_staff %} {{ item.now_available }} {% endif %} / {{ item.max_stock}} disponibles
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if request.user.is_staff %}
<button class="sticky-add-button btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#addItemForm">
    <i class="fa-solid fa-plus"></i>
    Ajouter un objet au magasin
</button>
{% endif %}

<!-- ADD ITEM MODAL -->
<div class="modal fade" id="addItemForm" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addItemModalLabel">Ajouter un objet au magasin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Annuler"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_item_name">Nom de l'objet</span>
                    <input aria-describedby="span_item_name" type="text" class="form-control" id="item_name" placeholder="Nom de l'objet">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_tags">Tags</span>
                    <div aria-describedby="span_tags" class="form-control" id="tag-list">
                        {% for tag in tags %}
                        <div class="form-check form-check-inline" id="tag-group{{ tag.pk }}">
                            <input type="checkbox" value="{{ tag.pk }}" class="tag-checkbox form-check-input" id="tag{{tag.pk}}" style="margin-top: 1vh;">
                            <label class="btn form-check-label" for="tag{{tag.pk}}" style="background-color: {{ tag.color }}; color: white;">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addTagForm">Créer un tag</button>
                <button type="button" class="btn btn-danger mt-3" onclick="confirmDeleteTags()">Supprimer les tags sélectionnés</button>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_image">Image</span>
                    <input aria-describedby="span_image" type="file" class="form-control" id="image">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_max_stock">Stock maximum</span>
                    <input aria-describedby="span_max_stock" type="number" class="form-control" id="max_stock" placeholder="Nombre d'objets disponibles au maximum">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_state">Etat</span>
                    <select class="form-control" id="state" aria-describedby="span_state">
                        <option value="5">Neuf</option>
                        <option value="4">Très bon état</option>
                        <option value="3">Bon état</option>
                        <option value="2">Etat moyen</option>
                        <option value="1">Mauvais état</option>
                        <option value="0">En maintenance</option>
                        <option value="-1">Ne fonctionne pas</option>
                    </select>
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_availability">Disponibilité</span>
                    <select class="form-control" id="availability" aria-describedby="span_availability">
                        <option value="1">Disponible</option>
                        <option value="0">Indisponible</option>
                        <option value="2">En cours de location</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" onclick="addItem()" data-bs-dismiss="modal">Ajouter au magasin</button>
            </div>
        </div>
    </div>
</div>

<!-- ADD TAG MODAL -->
<div class="modal fade" id="addTagForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTagModalLabel">Ajouter un tag</h1>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_tag_name">Nom du tag</span>
                    <input aria-describedby="span_tag_name" type="text" class="form-control" id="tag_name" placeholder="Nom du tag">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 bg-primary text-dark" id="span_tag_color">Couleur du tag</span>
                    <input aria-describedby="span_tag_color" type="color" class="form-control form-control-color" id="tag_color" placeholder="Couleur du tag">
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-target="#addItemForm" data-bs-toggle="modal" class="btn btn-danger">Annuler</button>
                    <button type="button" data-bs-target="#addItemForm" data-bs-toggle="modal" class="btn btn-success" onclick="addTag()" data-bs-dismiss="modal">Ajouter le tag</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DELETE ITEM -->
<div class="modal fade" id="confirmDeleteItemModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteItemModalLabel">Confirmer suppression</h5>
            </div>
            <div class="modal-body">
                Êtes-vous sûr.e de vouloir supprimer cet objet ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteItemBtn" value="0" data-bs-dismiss="modal">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DELETE TAGS -->
<div class="modal fade" id="confirmDeleteTagsModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTagsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteTagsModalLabel">Confirmer suppression</h5>
            </div>
            <div class="modal-body">
                Êtes-vous sûr.e de vouloir supprimer ces tags ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteTagsBtn" data-bs-dismiss="modal" onclick="deleteTags()">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<!-- NOTIFICATIONS -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="notificationContainer">
</div>

<div id="csrf" class="d-none">
    {% csrf_token %}
</div>
<script src="{% static 'js/warehouse.js' %}"></script>

{% endblock %}