{% extends "base.html" %}

{% block title %}
Demande d'aide à projet
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-auto">
        <h1 class="display-3 mt-3 text-magellans-dark">Demande envoyée.</h1>

        <div class="alert alert-success">
            Merci, votre demande a bien été prise en compte et nous vous recontacterons très bientôt pour y donner suite.
        </div>
    </div>
</div>
{% endblock %}