{% extends "base.html" %}
{% load static %}

{% block title %}
{% include "title.html" with title=title|default:"Dashboard membres" %}
{% endblock %}

{% block head_description %}
Dashboard pour les membres de l'association Magellans. Liens vers son profil, le magasin, édition de note de frais ou demande d'aide à projets.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid p-3">
    <h1 class="display-3 text-center">Espace membre de Magellans</h1>
    <div class="row mt-5 pt-5">
        <div class="card border-0 col-xl-2 m-auto mt-3">
            <div class="card-body text-center hoverable-card">
                <div class="team-member">
                    <img src="{% static 'img/icons/warehouse-solid.svg' %}" class="rounded-pill bg-primary" alt="Icône magasin">
                </div>
                <h4 class="fs-5">Magasin</h4>
                <a href="{% url 'warehouse' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="card border-0 col-xl-2 m-auto mt-3">
            <div class="card-body text-center hoverable-card">
                <div class="team-member">
                    <img src="{% static 'img/icons/file-invoice-dollar-solid.svg' %}" class="rounded-pill bg-primary" alt="Icône magasin">
                </div>
                <h4 class="fs-5">Editer une note de frais</h4>
                <a href="{% url 'create-invoice' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="card border-0 col-xl-2 m-auto mt-3">
            <div class="card-body text-center hoverable-card">
                <div class="team-member">
                    <img src="{% static 'img/icons/hand-holding-dollar-solid.svg' %}" class="rounded-pill bg-primary" alt="Icône magasin">
                </div>
                <h4 class="fs-5">Faire une demande d'aide aux projets</h4>
                <a href="{% url 'create-funding-request' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="card border-0 col-xl-2 m-auto mt-3">
            <div class="card-body text-center hoverable-card">
                <div class="team-member">
                    <img src="{% static 'img/icons/id-card-solid.svg' %}" class="rounded-pill bg-primary" alt="Icône magasin">
                </div>
                <h4 class="fs-5">Mon profil</h4>
                <a href="{% url 'my-profile' %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}