{% extends "base.html" %}
{% load static %}

{% block title %}
Profil utilisateur
{% endblock %}

{% block head_description %}
Détails du profil d'un membre du site de l'association Magellans.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="box">
        <h1 class="title fs-3 text-break">
            Détails du compte
            <a href="mailto:{{object.email}}" class="text-black">{{ object.email }}</a>
        </h1>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-border table-striped responsive">
                    <tr>
                        <th>Nom</th>
                        <td>{{ object.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <a href="mailto:{{object.email}}" class="text-black text-break">{{ object.email }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Rôle</th>
                        <td>
                            <div class="input-group input-group-md">
                                <div class="form-control"> 
                                    <select style="width: 100%;" id="select_role" pk="{{ object.site_person.pk }}">
                                        <optgroup label="CA">
                                            <option value="P" {% if object.site_person.role == "P" %} selected {% endif %}>Président.e</option>
                                            <option value="C" {% if object.site_person.role == "C" %} selected {% endif %}>Communication</option>
                                            <option value="G" {% if object.site_person.role == "G" %} selected {% endif %}>Gestionnaire magasin</option>
                                            <option value="T" {% if object.site_person.role == "T" %} selected {% endif %}>Trésorier.ère</option>
                                            <option value="S" {% if object.site_person.role == "S" %} selected {% endif %}>Secrétaire</option>
                                        </optgroup>
                                        <optgroup label="Membres & autres">
                                            <option value="M" {% if object.site_person.role == "M" %} selected {% endif %}>Membre Magellans</option>
                                            <option value="Mx" {% if object.site_person.role == "Mx" %} selected {% endif %}>Membre Magellans & pas site</option>
                                            <option value="E" {% if object.site_person.role == "E" %} selected {% endif %}>Inscrit site (par défaut)</option>
                                        </optgroup>
                                        <optgroup label="Externes site">
                                            <option value="X" {% if object.site_person.role == "X" %} selected {% endif %}>Externe site</option>
                                            <option value="O" {% if object.site_person.role == "O" %} selected {% endif %}>Organisation</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Compte</th>
                        <td class="{% if object.account >= 0 %}bg-success{% else %}bg-danger{% endif %}">{{ object.account_formatted }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-border table-striped responsive">
                    <tr>
                        <th>Prénom</th>
                        <td>{{ object.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ object.phone_formatted }}</td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>{{ object.gender }}</td>
                    </tr>
                    <tr>
                        <th>Donation</th>
                        <td class="{% if object.donation > 0 %}bg-success{% else %}bg-warning{% endif %}">{{ object.donation_formatted }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/dashboard/members.js' %}"></script>
<script>
    $(document).ready(function() {
        var select_role = $('#select_role').select2();
        
        select_role.on("change", function() {
            var value = $(this).val();
            var pk = $(this).attr("pk");
            
            editUserRole(pk, value);
        })
    });
</script>

{% endblock %}