{% extends "base.html" %}

{% block title %}
{% include "title.html" with title=title|default:"Mon profil" %}
{% endblock %}

{% block head_description %}
Profil personnel d'un membre du site de l'association Magellans.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="title fs-3">Mon profil</h1>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-border table-striped">
                <tr>
                    <th>Nom</th>
                    <td>{{ object.last_name }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{object.email}}" class="text-black text-break">{{ object.email }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Rôle</th>
                    <td>{{ object.role }}</td>
                </tr>
                <tr>
                    <th>Compte</th>
                    <td class="{% if object.account >= 0 %}bg-success{% else %}bg-danger{% endif %}">{{ object.account_formatted }}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-border table-striped">
                <tr>
                    <th>Prénom</th>
                    <td>{{ object.first_name }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ object.phone_formatted }}</td>
                </tr>
                <tr>
                    <th>Sexe</th>
                    <td>{{ object.gender }}</td>
                </tr>
                <tr>
                    <th>Donation</th>
                    <td class="{% if object.donation > 0 %}bg-success{% else %}bg-warning{% endif %}">{{ object.donation_formatted }}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12">
            <div class="justify-content-center row">
                <a href="{% url 'password_change' %}" class="btn btn-secondary col-lg-3 col-11 h-100 m-2"><i class="fa-solid fa-gear"></i> Changer de mot de passe</a>
                <button class="btn btn-warning col-lg-3 col-11 h-100 m-2" data-bs-target="#editProfileForm" data-bs-toggle="modal"><i class="fa-solid fa-edit"></i> Modifier mon profil</button>
            </div>
        </div>
    </div>    
    
    <div class="row">
        <h1 class="title fs-3 mt-5">Mes réservations de matériel</h1>
        <div class="col-lg-12">
            <table class="table table-striped align-middle display responsive nowrap" id="orders-table">
                <thead>
                    <tr>
                        <th scope="col" style="max-width: 80px;;"></th>
                        <th scope="col" style="max-width: 75px;">#</th>
                        <th scope="col">Début</th>
                        <th scope="col">Fin</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Reçue le</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for order in orders %}
                    <tr id="order{{order.pk}}">
                        <td>
                            <a class="btn btn-warning" href="{% url 'order-detail' pk=order.pk %}"><i class="fa-eye fa-solid text-light"></i></a>
                        </td>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.date_start }}</td>
                        <td>{{ order.date_end }}</td>
                        <td class="{% if order.status == 3 or order.status == 4 %}bg-success{% elif order.status == 1 %} bg-warning {% else %} bg-danger {% endif %}">{{ order.get_status_display }}</td>
                        <td>{{ order.date_created }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="row">
        <h1 class="title fs-3 mt-5">Mes notes de frais</h1>
        <div class="col-lg-12">
            <table class="table table-striped align-middle display responsive nowrap" id="invoices-table">
                <thead>
                    <tr>
                        <th scope="col" style="max-width: 80px;;"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Projet</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Reçue le</th>
                        <th scope="col">Montant total</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for invoice in invoices %}
                    <tr id="invoice{{invoice.pk}}">
                        <td>
                            <a class="btn btn-warning" href="{% url 'invoice-detail' pk=invoice.pk %}"><i class="fa-eye fa-solid text-light"></i></a>
                        </td>
                        <td>{{ invoice.title }}</td>
                        <td>{{ invoice.project }}</td>
                        <td class="{% if invoice.status == 'R' or invoice.status == 'C' %}bg-success{% elif invoice.status == 'F' or invoice.status == 'D' %}bg-warning {% elif invoice.status == 'V' %}bg-info{% else %} bg-danger {% endif %}">
                            {{ invoice.get_status_display }}
                        </td>
                        <td>{{ invoice.date_created }}</td>
                        <td>{{ invoice.total }}€</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- EDIT PROFILE MODAL -->
<div class="modal fade" id="editProfileForm" data-bs-keyboard="true" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="editProfileLabel">Modifier mon profil</h1>
            </div>
            <div class="modal-body">
                <form method="post" class="row justify-content-center">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col-lg-11 my-2">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-large w-100 p-2 fs-5 my-1">Enregistrer</button>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-danger btn-large w-100 p-2 fs-5 my-1" data-bs-dismiss="modal">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var orders_table = new DataTable('#orders-table', {
            order: [[1, "desc"]],
            columnDefs: [
            {responsivePriority: 1, targets: 0},
            {responsivePriority: 1, targets: 2, type: "frdatetime"},
            {responsivePriority: 1, targets: 3, type: "frdatetime"},
            {targets: 5, type: "frdatetime"}
            ]
        });
        
        
        var invoices_table = new DataTable('#invoices-table', {
            order: [[4, "desc"]],
            columnDefs: [
            {responsivePriority: 1, targets: 0},
            {responsivePriority: 1, targets: 1},
            {responsivePriority: 1, targets: 4, type: "frdatetime"},
            {responsivePriority: 1, targets: 5, type: "amount"},
            ]
        });
    });
</script>

{% endblock %}