{% extends "base.html" %}
{% load static %}

{% block title %}
Profil
{% endblock %}

{% block head_description %}
Profil d'une personne traitante avec l'association Magellans.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="box">
        <h1 class="title fs-3">Détails de la personne</h1>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-border table-striped">
                    <tr>
                        <th>Nom</th>
                        <td>{{ object.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th>Rôle</th>
                        <td>
                            <div class="input-group input-group-md">
                                <div class="form-control"> 
                                    <select style="width: 100%;" id="select_role" pk="{{ object.pk }}">
                                        <optgroup label="CA">
                                            <option value="P" {% if object.role == "P" %} selected {% endif %}>Président.e</option>
                                            <option value="C" {% if object.role == "C" %} selected {% endif %}>Communication</option>
                                            <option value="G" {% if object.role == "G" %} selected {% endif %}>Gestionnaire magasin</option>
                                            <option value="T" {% if object.role == "T" %} selected {% endif %}>Trésorier.ère</option>
                                            <option value="S" {% if object.role == "S" %} selected {% endif %}>Secrétaire</option>
                                        </optgroup>
                                        <optgroup label="Membres & autres">
                                            <option value="M" {% if object.role == "M" %} selected {% endif %}>Membre Magellans & site</option>
                                            <option value="Mx" {% if object.role == "Mx" %} selected {% endif %}>Membre Magellans & pas site</option>
                                            <option value="E" {% if object.role == "E" %} selected {% endif %}>Inscrit site (par défaut)</option>
                                        </optgroup>
                                        <optgroup label="Externes site">
                                            <option value="X" {% if object.role == "X" %} selected {% endif %}>Externe site</option>
                                            <option value="O" {% if object.role == "O" %} selected {% endif %}>Organisation</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-border table-striped">
                    <tr>
                        <th>Prénom</th>
                        <td>{{ object.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ object.phone_formatted }}</td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>{{ object.get_gender_display }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="justify-content-center row">
                    <button class="btn btn-warning col-lg-3 col-11 h-100 m-2" data-bs-target="#editPersonForm" data-bs-toggle="modal"><i class="fa-solid fa-edit"></i> Modifier le profil</button>
                    {% if not object.site_profile %}
                    <button class="btn btn-warning col-lg-3 col-11 h-100 m-2" data-bs-target="#redirectPersonForm" data-bs-toggle="modal"><i class="fa-solid fa-arrow-right-from-bracket"></i> Rediriger vers un profil membre</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT PERSON MODAL -->
<div class="modal fade" id="editPersonForm" data-bs-keyboard="true" tabindex="-1" aria-labelledby="editPersonLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="editPersonLabel">Modifier le profil</h1>
            </div>
            <div class="modal-body">
                <form method="post" class="row justify-content-center">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col-lg-11 my-2">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success w-100 my-1">Enregistrer</button>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-danger w-100 my-1" data-bs-dismiss="modal">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if not object.site_profile %}
<!-- REDIRECT PERSON MODAL -->
<div class="modal fade" id="redirectPersonForm" data-bs-keyboard="true" tabindex="-1" aria-labelledby="redirectPersonLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="redirectPersonLabel">Rediriger ce profil externe vers un profil membre</h1>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>ATTENTION !</strong>
                            <br>
                            En redirigeant ce profil externe vers un profil membre, vous allez écraser toutes les données actuelles du profil externe. Le profil prendra toutes les valeurs de la personne actuellement liée au profil membre.
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="m-2 form-control">
                            <select id="select_redirect" style="width: 100%;">
                                {% for member in members %}
                                <option value="{{ member.pk }}">{{ member }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success w-100 my-1" data-bs-dismiss="modal" onclick="redirectExtPerson('{{ object.pk }}')">Valider la redirection</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger w-100 my-1" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/dashboard/members.js' %}"></script>
<script>
    $(document).ready(function() {
        var select_role = $('#select_role').select2();
        
        select_role.on("change", function() {
            var value = $(this).val();
            var pk = $(this).attr("pk");
            
            editUserRole(pk, value);
        });

        var select_redirect = $('#select_redirect').select2({
            dropdownParent: "#redirectPersonForm"
        });
    });
</script>

{% endblock %}