{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Magellans</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'css/bulma_override.css'%}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
  <header>
    {% block nav %}
    {% endblock %}
  </header>
  
  <div class="content">
    {% block content %}
    <!-- This is where content from child templates will be inserted -->
    {% endblock %}
  </div>
  
  <footer>
    {% block footer %}
    {% if request.user.is_authenticated %}
    <div class="footer-dialog">
      <a class="button is-dark" id="hello-user" href="{% url 'my-profile'%}">
        Hello {{ request.user.first_name }} ! ☀️ 
        <br> 
        Voir votre profil
      </a>
    </div>
    {% endif %}
    {% endblock %}
  </footer>
</body>
</html>
