{% extends "base.html" %}
{% load static %}

{% block title %}
{% include "title.html" with title=title|default:"Rejoindre Magellans" %}
{% endblock %}

{% block head_description %}
Rejoindre Magellans
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 mt-3">
            <div class="row m-auto">
                <h1 class="display-5 mt-3 text-magellans-dark mb-4">Devenir membre</h1>
                <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/magellans/adhesions/adhesions-2025-2026/widget" style="width: 100%; height: 100%; min-height: 800px; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        document.querySelector("iframe").addEventListener("load", resizeIFrame);
    });
</script>

{% endblock %}