{% extends "base.html" %}

{% block title %}
Se connecter
{% endblock %}

{% block head_description %}
Connexion au site de l'association Magellans.
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-auto">
        <h1 class="display-3 mt-3 text-magellans-dark">Se connecter</h1>
        {% for field, errors in form.errors.items %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group input-group-md col-12 mt-3">
                <!-- <span class="input-group-text bg-primary col-sm-3 col-md-2" id="email-span">Courriel</span> -->
                <input class="form-control" type="text" name="username" placeholder="Courriel" aria-describedby="email-span">
            </div>
            <div class="input-group input-group-md col-12 mt-3">
                <!-- <span class="input-group-text bg-primary col-sm-3 col-md-2" id="password-span">Mot de passe</span> -->
                <input class="form-control" type="password" name="password" placeholder="Mot de passe" aria-describedby="password-span">
            </div>
            <div class="col-12 mt-1">
                <a href="{% url 'password_reset' %}" class="link float-end">Mot de passe oublié ?</a>
            </div>
            <div class="input-group input-group-md mt-1">
                <button class="btn btn-primary m-auto" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}