{% extends "base.html" %}

{% block title %}
Réinitialisation mot de passe
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-auto">
        <h1 class="display-3 mt-3 text-magellans-dark">Réinitialisation de mot de passe</h1>

        {% for field, errors in form.errors.items %}
        <div class="alert alert-danger">
            {{ field }}: {{ errors }}
        </div>
        {% endfor %}

        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group input-group-lg col-12 mt-3">
                <span class="input-group-text bg-primary col-3" id="old_password-span">Ancien mot de passe</span>
                <input class="form-control" type="password" name="old_password" placeholder="Ancien mot de passe" aria-describedby="old_password-span">
            </div>
            <div class="input-group input-group-lg col-12 mt-3">
                <span class="input-group-text bg-primary col-3" id="new_password1-span">Nouveau mot de passe</span>
                <input class="form-control" type="password" name="new_password1" placeholder="Nouveau mot de passe" aria-describedby="new_password1-span">
            </div>
            <div class="input-group input-group-lg col-12 mt-3">
                <span class="input-group-text bg-primary col-3" id="new_password2-span">Confirmez mot de passe</span>
                <input class="form-control" type="password" name="new_password2" placeholder="Confirmation mot de passe" aria-describedby="new_password2-span">
            </div>
            <div class="input-group input-group-lg mt-3">
                <button class="btn btn-primary m-auto" type="submit">Changer le mot de passe</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}