<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitilisation de mot de passe sur magellans.fr</title>
</head>
<body>
    <p>Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte sur magellans.fr</p>
    <br>
    <p>Veuillez vous rendre sur cette page et choisir un nouveau mot de passe : </p>
    <br>
    {% block reset_link %}
    https://magellans.fr/{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
    {% endblock %}
    <p>Votre nom d'utilisateur, en cas d'oubli : {{ user.username }}</p>
    <br>
    <p>Merci d'utiliser notre site !</p>
    <br>
    <p>L'équipe Magellans.</p>
    <br>
</body>
</html>