{% extends "base.html" %}

{% block title %}
Réinitialisation mot de passe
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-auto">
        <h1 class="display-3 mt-3 text-magellans-dark">Réinitialiser son mot de passe</h1>

        {% for field, errors in form.errors.items %}
        <div class="alert alert-danger">
            {{ field }}: {{ errors }}
        </div>
        {% endfor %}

        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group input-group-lg col-12 mt-3">
                <span class="input-group-text bg-primary col-2" id="email-span">Courriel</span>
                <input class="form-control" type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Courriel" aria-describedby="email-span">
            </div>
            <div class="input-group input-group-lg mt-3">
                <button class="btn btn-primary m-auto" type="submit">Recevoir un lien par email</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}