<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitilisation de mot de passe sur magellans.fr</title>
</head>
<body>
    <p>Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte sur magellans.fr</p>
    <br>
    <p>Veuillez cliquer sur ce lien et choisir un nouveau mot de passe : 
        <a href="https://magellans.fr/auth/reset/{{ uid }}/{{ token }}">Réinitialiser mon mot de passe</a>
    </p>
    <br>
    <p>Votre nom d'utilisateur, en cas d'oubli : {{ user.username }}</p>
    <br>
    <p>Merci d'utiliser notre site !</p>
    <br>
    <p>L'équipe Magellans.</p>
    <br>
</body>
</html>