{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard projets
{% endblock %}


{% block head_description %}
Liste de tous les projets dans lesquels l'association Magellans a eu un rôle a joué : réalisation, production, co-production, financement.
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<script>
    var callback_addExtUser = function(response) {};
</script>

<div class="container-fluid p-3">
    <h1 class="display-5 text-center">Dashboard projets</h1>
    <div class="row mt-5 pt-5">
        <div class="col-lg-12">
            <table class="table table-striped align-middle display responsive" id="projects-table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" style="max-width: 100px;">ID Projet</th>
                        <th scope="col" style="white-space: nowrap;">Nom</th>
                        <th scope="col">Réalisateur.ice</th>
                        <th scope="col">Responsable financier</th>
                        <th scope="col" style="white-space: nowrap;">Slug</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Courte description</th>
                        <th scope="col">Date de tournage</th>
                        <th scope="col">Date de sortie</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    
                    {% for project in projects %}
                    <tr>
                        <td>
                            <a class="btn btn-warning" href="{% url 'project-detail' slug=project.slug %}"><i class="fa-eye fa-solid text-light"></i></a>
                        </td>
                        <td>{{ project.pk }}</td>
                        <td style="white-space: nowrap;">{{ project.name }}</td>
                        <td><a href="{% url 'person-detail' pk=project.director.pk %}" class="text-black">{{ project.director }}</a></td>
                        <td><a href="{% url 'person-detail' pk=project.money_handler.pk %}" class="text-black">{{ project.money_handler }}</a></td>
                        <td style="white-space: nowrap;">{{ project.slug }}</td>
                        <td>{{ project.genre }}</td>
                        <td>{{ project.short_desc }}</td>
                        <td>{{ project.shoot_date }}</td>
                        <td>{{ project.release_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="sticky-bottom-buttons">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#addProjectForm">
        <i class="fa-solid fa-plus"></i>
        Créer un projet
    </button>
</div>

<!-- ADD EXTERNAL USER MODAL -->
<div class="modal fade" id="addExtUserForm" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="addExtUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="addExtUserModalLabel">Ajouter un profil d'utilisateur externe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Annuler"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="ext-user_first_name" placeholder="Prénom">
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="ext-user_last_name" placeholder="Nom">
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="email" class="form-control" id="ext-user_email" placeholder="Email">
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="ext-user_phone" placeholder="Téléphone">
                </div>
                <div class="input-group input-group-md mt-3">
                    <select class="form-control" id="ext-user_gender" >
                        <option value="">Sexe...</option>
                        <option value="F">Femme</option>
                        <option value="M">Homme</option>
                        <option value="B">Non-binaire</option>
                        <option value="O">Autre</option>
                    </select>
                </div>
                <div class="input-group input-group-md mt-3">
                    <div class="form-control"> 
                        <select style="width: 100%;" id="select_role" pk="{{ object.site_person.pk }}">
                            <option></option>
                            <optgroup label="CA">
                                <option value="P">Président.e</option>
                                <option value="C">Communication</option>
                                <option value="G">Gestionnaire magasin</option>
                                <option value="T">Trésorier.ère</option>
                                <option value="S">Secrétaire</option>
                            </optgroup>
                            <optgroup label="Membres & autres">
                                <option value="M">Membre Magellans</option>
                                <option value="Mx">Membre Magellans & pas site</option>
                                <option value="E">Inscrit site (par défaut)</option>
                            </optgroup>
                            <optgroup label="Externes site">
                                <option value="X">Externe site</option>
                                <option value="O">Organisation</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-target="#addProjectForm" data-bs-toggle="modal" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" onclick="addExtUser(callback_addExtUser)" data-bs-target="#addProjectForm" data-bs-toggle="modal" data-bs-dismiss="modal">Ajouter l'utilisateur</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD PROJECT MODAL -->
<div class="modal fade" id="addProjectForm" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="addProjectModalLabel">Créer un projet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Annuler"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="project_name" placeholder="Nom">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_select_director">Réalisateur.ice</span>
                    <div class="form-control"> 
                        <select aria-describedby="span_select_director" style="width: 100%;" id="select_director">
                            <option></option>
                            <optgroup label="Inscrits">
                                {% for person in site_persons %}
                                <option value="{{person.pk}}">{{ person.first_name }} {{ person.last_name }} ({{ person.email }})</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Externes">
                                {% for person in ext_persons %}
                                <option value="{{person.pk}}">{{ person.first_name }} {{ person.last_name }} ({{ person.email }})</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExtUserForm">Créer un profil</button>
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_select_money_handler">Respo. financier</span>
                    <div class="form-control" aria-describedby="span_select_money_handler">
                        <select style="width: 100%;" id="select_money_handler">
                            <option></option>
                            <optgroup label="Inscrits">
                                {% for person in site_persons %}
                                <option value="{{person.pk}}">{{ person.first_name }} {{ person.last_name }} ({{ person.email }})</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Externes">
                                {% for person in ext_persons %}
                                <option value="{{person.pk}}">{{ person.first_name }} {{ person.last_name }} ({{ person.email }})</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExtUserForm">Créer un profil</button>
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="project_genre" placeholder="Genre">
                </div>
                <div class="input-group input-group-md mt-3">
                    <input type="text" class="form-control" id="project_short_desc" placeholder="Description courte">
                </div>
                <div class="input-group input-group-md mt-3">
                    <textarea class="form-control" id="project_desc" placeholder="Description complète"></textarea>
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_shoot_date">Date tournage</span>
                    <input type="date" aria-describedby="span_shoot_date" class="form-control" id="project_shoot_date">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_release_date">Date sortie</span>
                    <input type="date" aria-describedby="span_release_date" class="form-control" id="project_release_date">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_poster">Poster</span>
                    <input aria-describedby="span_poster" type="file" class="form-control" id="project_poster">
                </div>
                <div class="input-group input-group-md mt-3">
                    <span class="input-group-text col-xl-2 text-dark" id="span_options">Options</span>
                    <div class="form-control" aria-describedby="span_options">
                        <div class="form-check">
                            <label class="form-check-label text-dark" id="label_public">Public</label>
                            <input class="form-check-input" type="checkbox" value="" id="project_public">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" onclick="addProject()" data-bs-dismiss="modal">Créer le projet</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = new DataTable('#projects-table', {
            order: [[2, "asc"]],
            columnDefs: [
            {responsivePriority: 1, targets: [0,2]},
            {targets: [8, 9], type: "frdate"},
            {targets: 1, type: "num"}
            ],
        });
        
        var select_director = $('#select_director').select2({
            placeholder: "Sélectionner un.e réalisateur.ice",
            dropdownParent: $('#addProjectForm')
        });
        
        var select_money_handler = $('#select_money_handler').select2({
            placeholder: "Sélectionner un.e responsable financier",
            dropdownParent: $('#addProjectForm'),
        });
        
        var select_role = $('#select_role').select2({
            placeholder: "Choisir le rôle de la personne",
            dropdownParent: $('#addExtUserForm'),
        });
        
        callback_addExtUser = function(response) {
            json_response = JSON.parse(response.data);
            
            let value = json_response.pk;
            let text = json_response.first_name + " " + json_response.last_name + " " + "(" + json_response.email +")";
            
            select_director.find('optgroup[label="Externes"]').append($('<option>', {
                value: value,
                text: text    
            }));
            
            select_money_handler.find('optgroup[label="Externes"]').append($('<option>', {
                value: value,
                text: text    
            }));
            
            select_director = $('#select_director').select2({
                placeholder: "Sélectionner un.e réalisateur.ice",
                dropdownParent: $('#addProjectForm'),
            });
            
            select_money_handler = $('#select_money_handler').select2({
                placeholder: "Sélectionner un.e responsable financier",
                dropdownParent: $('#addProjectForm'),
            });
            
            select_role = $('#select_role').select2({
                placeholder: "Choisir le rôle de la personne",
                dropdownParent: $('#addExtUserForm'),
            });
        };
    });
    
</script>
<script src="{% static 'js/api/api.js' %}"></script>
<script src="{% static 'js/dashboard/members.js' %}"></script>
<script src="{% static 'js/dashboard/projects.js' %}"></script>

{% endblock %}