{{ instance.asker }} a demandé une aide de {{ instance.funding_value}}€ pour son projet {{ instance.name }}.

Voici les informations complètes concernant cette demande : 
    Nom du projet : {{ instance.name }}
    Demandeur : {{ instance.asker }}
    Poste occupé sur le projet : {{ instance.role }}
    Réalisateur.ices : {{ instance.directors }}
    Production : {{ instance.production }}
    Genre : {{ instance.genre }}
    Durée en minutes estimée : {{ instance.duration }}
    Dates de tournage prévues : Du {{ instance.previsional_shoot_start_date}} jusqu'au {{ instance.previsional_shoot_end_date }}
    Montant demandé : {{ instance.funding_value }}€


Voici le message lié à la demande : 
{{ instance.explanation }}

Vous trouverez en pièces jointes le scénario, la note d'intention, le plan de financement prévisionnel et la fiche contact du projet. 

Très bonne réception,
L'équipe Magellans.