{% extends 'base.html' %}

{% load static %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="{% static 'img/logo.webp' %}" class="img-fluid" height="200">
        </div>
        <div class="col-lg-12 text-center mb-3">
            <h1 class="display-2 text-uppercase text-center fw-bold">Notre conseil d'administration</h1>
        </div>
        <div class="col-lg-2 m-auto text-center">
            <img src="{% static 'img/ca/charlotte_sire.jpg' %}" class="profile-pic">
            <h3>Charlotte Sire</h3>
            <h4>Présidente</h4>
            <p class="fs-5">07 70 52 97 62<br>charlotte.sire@magellans.fr</p>
        </div>
        <div class="col-lg-2 m-auto text-center">
            <img src="{% static 'img/ca/lena_delaval.jpg' %}" class="profile-pic">
            <h3>Léna Delaval</h3>
            <h4>Secrétaire</h4>
            <p class="fs-5">06 51 57 32 68<br>lena.delaval@magellans.fr</p>
        </div>
        <div class="col-lg-2 m-auto text-center">
            <img src="{% static 'img/ca/antonin_mathubert.jpg' %}" class="profile-pic">
            <h3>Antonin Mathubert</h3>
            <h4>Trésorier</h4>
            <p class="fs-5">07 82 92 98 96<br>antonin.mathubert@magellans.fr</p>
        </div>
        <div class="col-lg-2 m-auto text-center">
            <img src="{% static 'img/ca/axelle_servat.jpg' %}" class="profile-pic">
            <h3>Axelle Servat</h3>
            <h4>Responsable communication</h4>
            <p class="fs-5">06 51 67 79 32<br>axelle.servat@magellans.fr</p>
        </div>
        <div class="col-lg-2 m-auto text-center">
            <img src="{% static 'img/ca/sarah_duvallet.jpg' %}" class="profile-pic">
            <h3>Sarah Duvallet</h3>
            <h4>Adjointe responsable communication</h4>
            <p class="fs-5">06 51 61 07 96<br>sarah.duvallet@magellans.fr</p>
        </div>
    </div>
</div>
{% endblock %}