{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Accueil - Magellans</title>
    {% include "head.html" %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body class="d-flex mh-100 h-100 justify-content-center">
    <div class="container-fluid">
        <video id="video-background" autoplay muted loop>
            <source src="{% static 'media/video/presentation.webm' %}" type="video/webm">
            Votre navigateur ne prend pas en charge ce format de vidéo.
        </video>
        
        <div id="title" class="row py-md-5 justify-content-center">
            <div class="col-md d-flex align-items-center justify-content-center">
                <img class="img-fluid" src="{% static 'media/img/logo.svg' %}">
            </div>
            <div class="col-md-5 text-center text-shadow">
                <h1 class="text-magellans-light display-1">Magellans</h1>
                <p class="text-magellans-light display-6">Association d'audiovisuel et de cinéma.</p>
            </div>
            <div class="col-md align-items-center justify-content-center d-none d-md-flex">
                <img class="img-fluid" src="{% static 'media/img/logo.svg' %}">
            </div>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>