{% extends 'base.html' %}

{% load static %}

{% block title %}
Nous rejoindre
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="{% static 'img/logo.webp' %}" class="img-fluid" height="200">
        </div>
        <div class="col-lg-12">
            <h1 class="display-2 text-uppercase text-center fw-bold">Rejoindre Magellans</h1>
            <h3 class="display-4 text-center"> Pour nous rejoindre, <br> 
                <a class="text-magellans-light" href="https://www.helloasso.com/associations/magellans/adhesions/adhesion-magellans-2023-2024" target="_blank">je clique ICI</a> !
            </h3>
            <p class="fs-3 text-center">Mais a quoi ai-je accès en tant que membre de l'association ?</p>            
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center mb-3">
            <h1 class="display-2 text-uppercase text-center fw-bold">Trois possibilités</h1>
            <h2>En devenant membre de Magellans, j'ai différents avantages, en voici quelques-uns...</h2>
        </div>
        
        <div class="col-lg-4 mb-2 container d-flex">
            <div class="card text-center bg-transparent h-100 fs-3 w-50 m-auto mb-3">
                <div class="card-header text-magellans-dark">1</div>
                <div class="card-body">
                    <h5 class="card-title fs-2 text-magellans-dark">Evènements</h5>
                    <p class="card-text text-magellans-dark">Je peux participer aux différents évènements organisés par Magellans et avoir accès au réseau de ses membres.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-2 container d-flex">
            <div class="card text-center bg-transparent h-100 fs-3 w-50 m-auto mb-3">
                <div class="card-header text-magellans-dark">2</div>
                <div class="card-body">
                    <h5 class="card-title fs-2 text-magellans-dark">Matériel</h5>
                    <p class="card-text text-magellans-dark">Je peux louer gratuitement le matériel de l'association.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-2 container d-flex">
            <div class="card text-center bg-transparent h-100 fs-3 w-50 m-auto mb-3">
                <div class="card-header text-magellans-dark">3</div>
                <div class="card-body">
                    <h5 class="card-title fs-2 text-magellans-dark">Aide aux projets</h5>
                    <p class="card-text text-magellans-dark">Je peux proposer facilement un projet afin de demander une aide financière à Magellans.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center mb-3">
            <h1 class="display-2 text-uppercase text-center fw-bold">Location du matériel</h1>
            <h2>Comment faire ?</h2>
        </div>
        <div class="col-lg-2 text-lg-end text-center">
            <img class="img-fluid" src="{% static 'img/qr-codes/materiel.jpg' %}"> 
        </div>
        <div class="col-lg-4">
            <p class="fs-4 text-lg-start text-center"> Le QR Code juste ici te donne accès à la liste de matériel et au formulaire de réservation. </p>
        </div>
        <div class="col-lg-6">
            <ul class="fs-4">
                <li>En tant que membre de Magellans, j'ai accès <strong>gratuitement</strong> au matériel mis à disposition par l'association.</li>
                <li>Il me suffit de flasher le QR Code, je peux également faire ma réservation.</li>
                <li>Via ce même QR Code, je peux également faire ma réservation.</li>
                <li>Une fois que ma commande est validée et que tout est en ordre avec le/la magasinier.ère, je suis prêt.e à partir en tournage en étant équipé.e !</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center mb-3">
            <h1 class="display-2 text-uppercase text-center fw-bold">Demander une aide financière pour mon projet</h1>
            <h2>Comment faire ?</h2>
        </div>
        <div class="col-lg-5 m-auto">
            <h3 class="text-lg-start text-center">Depuis octobre 2022, Magellans propose une aide financière à plusieurs projets au cours de l'année. </h3>
            <p class="fs-4 text-lg-start text-center">Afin de proposer mon projet pour qu'il soit étudiéé par le Conseil d'Administration de Magellans, je monte un dossier avec des documents clés afin de montrer que mon projet nécessite un petit coup de pouce financier</p>
        </div>
        <div class="col-lg-4">
            <p class="fs-4 text-lg-start text-center"> Ce QR Code te donne accès à la fiche projet à intégrer dans ton dossier de demande d'aide de financement </p>
        </div>
        <div class="col-lg-2 text-lg-start text-center">
            <img class="img-fluid" src="{% static 'img/qr-codes/aide.jpg' %}"> 
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center mb-3">
            <h1 class="display-2 text-uppercase text-center fw-bold">Alors rejoins-nous !</h1>
            <h3 class="text-center">On veut que tu puisses t'épanouir avec nous et pouvoir faire de beaux projets !</h3>
            <h2 class="text-center">On reste disponibles si tu as d'autres questions !</h2>
        </div>
    </div>
</div>

{% endblock %}