{% extends "base.html" %}
{% load static %}

{% block title %}
Projets
{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}

<!-- Portfolio Grid-->
<section class="page-section mt-3 pt-2" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Projets</h2>
            <h3 class="section-subheading text-muted">Ce que nous avons fait chez Magellans.</h3>
        </div>
        <div class="row">
            <!-- ------------------------------------------------------------------------------------------- -->
            {% for projet in projets %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#{{ projet.slug }}-modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" style="aspect-ratio: 2/3;" src="{{ MEDIA_URL }}{{ projet.poster.url }}" alt="{{ projet.name }} poster" /> <!-- Image projet -->
                    </a> 
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ projet.name }}</div>  <!-- Titre -->
                        <div class="portfolio-caption-subheading text-muted">{{ projet.genre }}</div> <!-- Genre projet -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- ------------------------------------------------------------------------------------------- -->
        </div>
    </div>
</section>

{% for projet in projets %}
<div class="portfolio-modal modal fade" id="{{ projet.slug }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/icons/close-icon.svg' %}" alt="Close modal" width="25px"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{ projet.name }}</h2>
                            <p class="item-intro text-muted">{{ projet.short_desc }}</p>
                            <img class="img-fluid d-block mx-auto" style="max-height: 600px;" src="{{ MEDIA_URL }}{{ projet.poster.url }}" alt="{{ projet.name }} poster" />
                            <p>{{ projet.desc }}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre :</strong>
                                    {{ projet.genre }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}