body {
    margin: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

#title {
    position: relative;
    z-index: 1;
    text-align: center;
}

.img-fluid {
    max-height: 100px;
}