{% extends "base.html" %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
Interdit
{% endif %}
{% endblock %}

{% block head_description %}
Interdiction d'accéder à cette page du site de l'association Magellans.
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="card m-auto text-center col-xl-6 border-danger border-4 rounded-4">
        <div class="card-header bg-danger text-light fs-5">Interdit (403)</div>
        <div class="card-body">
            <h5 class="card-title">
                Vous n'êtes pas censé.e être ici.
            </h5>
            <p class="card-text">Veuillez cliquer sur le bouton ci-dessous pour retourner à l'accueil membres.</p>
            <a class="btn btn-primar" href="{% url 'members' %}">Retour</a>
        </div>
        <div class="card-footer bg-danger fs-5 text-light">
            Espace réservé aux administrateurs
        </div>
    </div>
</div>
{% endblock %}