<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-center">Copyright &copy; Magellans 2024</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.tiktok.com/@magellansproject?_t=8lMvI4Z6S0m&_r=1" aria-label="Tiktok"><i class="fab fa-tiktok"></i></a>
                <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.instagram.com/magellansproject/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.youtube.com/channel/UCLU4qQfiuMThtss8TKoZx5Q" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.twitch.tv/magellans_project" aria-label="Twitch"><i class="fab fa-twitch"></i></a>
            </div>
            <div class="col-lg-2">
                <a class="link-light text-center text-decoration-none" href="#!">Politique de confidentialité</a>
            </div>
            <div class="col-lg-2">
                <a class="link-light text-center text-decoration-none" href="#!">Conditions d'utilisation</a>
            </div>
        </div>
    </div>
</footer>