{% load static %}
{% load logout_tags %}

<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #212529;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'media/img/logo.webp' %}" alt="Magellans"> Magellans
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'warehouse' %}">
            Magasin
          </a>
        </li>
        
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-profile' %}">
            Mon profil
          </a>
        </li>
        <li class="nav-item">
            {% logout_form %}
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">
            Se connecter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
            S'inscrire
          </a>
        </li>
        {% endif %}

        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">
            Administration site
          </a>
        </li>
        {% endif %} 
      </ul>
    </div>
  </div>
</nav>
</div>