{% load static %}
{% load logout_tags %}

<nav class="navbar navbar-expand-xl navbar-dark d-xl-flex flex-column flex-shrink-0 p-3 bg-dark text-light" id="mainNav">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse w-100" id="navbarResponsive">
		<a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 mx-auto text-decoration-none navbar-brand">
			<img src="{% static 'img/logo.webp' %}" height="64" alt="Logo de Magellans">
		</a>
		<ul class="nav nav-pills flex-column mb-auto w-100">
			<hr style="border-color: #ffc800;">
			{% if request.user.is_superuser %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'admin:index' %}">
					Django Admin
				</a>
			</li>
			{% endif %}
			{% if request.user.site_person.role != 'M' %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'join-magellans' %}" title="Devenir membre">
					Devenir membre
				</a>
			</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'warehouse' %}" title="Accéder au magasin">
					Magasin
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'projects' %}" title="Ce que nous avons fait chez Magellans">
					Catalogue des projets
				</a>
			</li>
			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'create-invoice' %}">Editer une note de frais</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'create-funding-request' %}">Demande d'aide à projets</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'resources' %}" title="Des ressources et des fichiers utiles">
					Ressources pour les membres
				</a>
			</li>
			{% endif %}
			{% if request.user.is_staff %}
			<li class="">
				<a class="nav-link dropdown-toggle" href="#collapseAdmin" role="button" data-bs-toggle="collapse" aria-expanded="false">
					Espace administrateurs
				</a>
				<div class="collapse" id="collapseAdmin">
					<ul class="list-unstyled ms-3 border-start border-light">
						<li>
							<a class="nav-link" href="{% url 'dashboard-orders' %}">Commandes</a>
						</li>
						<li>
							<a class="nav-link" href="{% url 'dashboard-members' %}">Profils utilisateurs</a>
						</li>
						<li>
							<a class="nav-link" href="{% url 'dashboard-projects' %}">Projets</a>
						</li>
						<li>
							<a class="nav-link" href="{% url 'bank' %}">Trésorerie</a>
						</li>
					</ul>
				</div>
			</li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li class="">
				<a class="nav-link dropdown-toggle" href="#collapseMembers" role="button" data-bs-toggle="collapse" aria-expanded="false">
					{{ request.user.first_name }} {{ request.user.last_name }}
				</a>
				<div class="collapse" id="collapseMembers">
					<ul class="list-unstyled ms-3 border-start border-light">
						<li>
							<a class="nav-link" href="{% url 'my-profile' %}">Mon profil</a>
						</li>
						<li>
							{% logout_form %}
						</li>
					</ul>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}?next={% if request.path != '/deconnexion/' %}{{ request.path }}{% else %}{% url 'my-profile' %}{% endif %}" title="Se connecter au site">
					Se connecter
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'register' %}" title="S'inscrire sur le site">
					S'inscrire
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>